 {% extends "base.html" %} {% block title %}Information{% endblock %} {% block content
%}
 <h1 align="center">Information sur le colonne</h1>
 <ul>
     <li>
         <b>Montant du credi</b> : Montant du crédit accordé (NT dollar) : il comprend à la fois le crédit individuel à la consommation
      et son crédit familial (complémentaire).
     </li>
     <br>

     <li>
         <b>Historique des paiements  </b>: . Nous avons suivi les enregistrements des paiements mensuels passés (juiller à septembre  )
 comme suit :  l'état du remboursement en septembre  , l'état du remboursement en août  ,   l'état du remboursement en juiller
  L'échelle de mesure de l'état de remboursement est : -1 = payer dûment ;
1 = retard de paiement d'un mois ; 2 = retard de paiement de deux mois ; . . .;
 8 = retard de paiement de huit mois ; 9 = retard de paiement de neuf mois et plus.
     </li>
     <br>
     <li>
         <b>Montant du paiement précédent</b> : en (dollar NT) d'avrile à septembre

     </li>
 </ul>
 {% endblock %}